@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
   padding:0;
   margin:0;
   vertical-align:baseline;
   list-style:none;
   border:0;
   font-family: Montserrat;
   box-sizing: border-box
}

body{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0;
}

header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border-bottom: 5px solid rgba(0, 0, 0, 0.7);
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   background-color: white;
   z-index: 1;
}

.logo{
   height: 50px;
   margin-left: 50px;
}

ul{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

li{
   padding: 23px 35px;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: bold;
   color: rgba(0, 0, 0, 0.6);
   user-select: none;
}

li:hover{
   background-color: rgba(0, 0, 0, 0.216);
}

.carrosel{
   box-shadow: 2px 2px 4px black;
   overflow: hidden;
   height: auto;
   margin-bottom: 10px;
}

.container{
   display: flex;
   transition: transform 0.5s ease-in-out;
   transform: translateX(0);
}

.CarroselImg{
   object-fit: cover;
   width: 100%;
}

.recommended{
   width: 100%;
}

.RecommendedButtons{
   display: flex;
   justify-content: space-around;
   width: 100%;
   padding: 5px;
}

.linkBtn{
   padding: 20px;
   text-decoration: none;
   color: white;
   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   text-align: center;
   margin: 5px;
   font-size: 25px;
}

.linkBtn:hover{
   background-color: rgb(190, 165, 26);
}

input[type="radio"]{
   display: none;
}

.labels{
   width: 99%;
   margin: 5px;
   padding: 5px;
   display: flex;
}

label{
   border: 1px solid black;
   width: 100%;
   text-align: center;
   padding: 8px;
   font-size: 20px;
   text-transform: uppercase;
   font-weight: bold;
   color: rgba(0, 0, 0, 0.614);
}

input[type="radio"]:checked + label{
   border-bottom: none;
}

.Recommended{

   display: flex;
   width: 100%;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.carImg{
   width: 160px;
   margin: 20px 50px;
}

.cars  a  {
   text-decoration: none;
   text-align: center;
   color: rgba(0, 0, 0, 0.512);
   font-weight: bold;
}

footer{
   background-color: rgb(110, 110, 110);
   width: 100%;
   display: flex;
   flex-direction: row;
   padding: 50px 20px;
   color: white;
   margin-top: 90px;
}
footer div{
   display: flex;
   flex-direction: column;
}

footer a{
   color: white;
   text-decoration: none;
   margin-top: 5px;
   margin-left: 40px;
}

footer h2{
   padding-left: 40px;
   font-size: 15px;
   border-bottom: 1px solid ;
}

footer a:hover{
   text-decoration: underline;
}