@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
   padding:0;
   margin:0;
   vertical-align:baseline;
   border:0;
   font-family: Montserrat;
   box-sizing: border-box
}

body{
   min-height: 100vh;
   overflow-x: hidden;
}

header{
   position: absolute;
   top: 0;
   display: flex;
   z-index:2;
   width: 100vw;
   
   justify-content: space-between;
   align-items: center;
   
   padding-top: 15vh;
   padding-left: 10vw;
   padding-right: 10vw;
}

.logo{
   color: white;
   width: 35%;
   height: auto;
}

header ul{
   display: flex;
   list-style:none;

}

a{
   text-decoration: none;
   color: white;
   text-transform: uppercase;
   padding: 40px; 
   transition: all .5s ease-in-out;
}

a:hover{
   text-decoration: underline white;
   transition: text .5s ease-in-out;
}


.lazyloaded{
   background-image: url(../img/Koenigsegg\ Gemera\ in\ front\ of\ the\ Gripen\ Atelier.jpg);
   
   width: 100vw;
   height: 105vh;
   
   background-size: cover;
   background-position: center center;
   
   box-shadow: inset 0px -20vh 30vh ;
   
   position: static;
   top: 0;
}

#GEMERA{
   width: 40vw;
   position: relative;
   top: 30%;
   left: 8%;
}

.overview{
   display: flex;
   justify-content: space-evenly;
   padding: 20vh 0;
}

.overview h6{
   font-size: 18px;

}

.overview p {
   margin-bottom: 30px;
   font-weight: 500;
   font-size: 20px;
}

#second-lazy{
   background-image: url(../img/20230710\ EXT\ \(8\ of\ 1\).jpeg);
   height: 110vh;
}

#equal-respect{
   background-color: black;
   color: white;
}

.titles{
   display: flex;
   margin-bottom: 50px;
   padding-top: 100px;
}

.titles h6 {
   font-size: 20px;
   font-weight: 500;
   margin: 50px 400px 50px 200px;
}

#equal-respect-forAll{
   display: flex;
   flex-direction: column;
}

#equal-respect-forAll h4{
   font-size: 50px;
}

.oChato{
   padding-left: 100px;
}
.leftAndRigth{
   display: flex;
   flex-direction: row;
}

.left{
   display: flex;
   flex-direction: column;
   width: 50%;
   padding-left: 150px;
}

ol li{
   display: flex;
   border-bottom: 1px white solid;
   width: 50%;
   padding: 30px 10px 30px 30px;
}

li::before{
   margin-right: 30px;
   content: counter(name +1);
   list-style-type: decimal-leading-zero;
   font-size: small;
}

label:has([type='radio']){
   font-size: 20px;
   font-weight: 500;
}



label:has([type="radio"]:checked)+ p ,label:has([type="radio"]:checked)+ p + p{
   display: block;
   font-size: 13px;
   font-weight: 600;
   padding-top: 30px;
   padding-right: 50%;
}

input[type='radio']{
   display: none;
}

.shadow-text{
   display: none;
}


.right{
   width: 50%;
}

.right img{
   width: 50%;
   height: auto;
}